<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-google-pay-api-for-passes"
    version="1.0.0">
    <name>Cordova Plugin Google Pay API for Passes</name>
    <description>Cordova Plugin Google Pay API for Passes</description>
    <license>MIT</license>
    <keywords>cordova,googlepay</keywords>
    
    <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="GooglePay" />
      </js-module>
    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePay" >
                <param name="android-package" value="org.apache.cordova.plugin.GooglePay"/>
                <param name="onload" value="true" />
            </feature>
      </config-file>    
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:name="org.apache.cordova.plugin.GooglePayActivity" />
      </config-file>
      <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
      <source-file src="src/android/GooglePay.java" target-dir="src/org/apache/cordova/plugin" />
      <source-file src="src/android/GooglePayActivity.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>
</plugin>
